@model IEnumerable<AdminPoodle.Models.Pup>

@{
    ViewData["Title"] = "Valpar";
}

<h1>Valpar</h1>

<p>
        <a asp-action="Create"><img src="~/icons/add.png" class="icon" alt="knapp för att lägga till valp"/> Lägg till valp </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booked)
            </td>
            <td>

                <img decoding="async" src="@("~/imageupload/"+item.ImageName)" asp-append-version="true"  width="70px" height="45px"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/change.png" class="icon" alt="knapp för redigering"/></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/file.png" class="icon" alt="knapp för att se detaljer"/></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/erase.png" class="icon" alt="knapp för radering"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
