@model IEnumerable<AdminPoodle.Models.News>

@{
    ViewData["Title"] = "Nyheter";
}

<h1>Nyhetsinlägg</h1>

<p>
        <a asp-action="Create"><img src="~/icons/add.png" class="icon" alt="knapp för att lägga till nyhet"/> Lägg till nyhet </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                Datum:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>


            <td>
             @if (item.Post.Length >= 50)
                {
                    @item.Post.Substring(0, 50)
                }
                else
                {
                @item.Post
                }
            </td>

            <td>
                <img decoding="async" src="@("~/imageupload/"+item.ImageName)" asp-append-version="true"  width="70px" height="45px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/change.png" class="icon" alt="knapp för redigering"/></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/file.png" class="icon" alt="knapp för att se detaljer"/></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/erase.png" class="icon" alt="knapp för radering"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
